.paises-exportacion-cuadros {
  @extend %gridUnaColumna;
  gap: 1.8rem;
  padding: 1rem 1rem;

  div {
    background-color: #c3e2ff;
    padding: 1.5rem;
    border-radius: 1.8rem;
  }

  p {
    margin-bottom: 0.6rem;
    text-align: center;
  }
}
