header {
  background-color: $colorAzul;
  color: $colorBlanco;
  padding: 1rem;
  text-align: center;
  background-image: url(../images/imagenLacteos.jpg);
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem 0rem;

  h1 {
    @include fontSizeColorPadding(2.5rem, null, 1rem);
    font-family: "DM Serif Text", serif;
    font-weight: 100;
    font-style: normal;
    text-shadow: -6px 1px 5px $colorNegro;
  }

  p {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
