.linea-del-tiempo {
  @extend %gridUnaColumna;
  padding: 1.2rem;
}

.informacion-cronologica {
  border: 0.1rem solid $colorAzul;
  border-radius: 0.6rem;
  margin: 0.5rem;
  padding: 1rem;

  h3 {
    @include fontSizeColorPadding(1.3rem, $colorBlanco, 0.5rem 1rem);
    background: #2c5aa0;
    background: radial-gradient(
      circle,
      rgba(44, 90, 160, 1) 33%,
      rgba(245, 249, 255, 1) 100%
    );
    margin: 0.5rem;
    border-radius: 50rem;
    font-weight: bold;
    justify-self: center;
  }

  h4 {
    @include fontSizeColorPadding(1.1rem, $colorAzul, 0);
  }
}
