.tipo-de-producto h3 {
  @include fontSizeColorPadding(1.5rem, $colorAzul, 0);
  text-align: center;
  background-color: $colorGris;
}

.productos-cuadros {
  @extend %gridUnaColumna;
  margin-top: 1rem;
  margin-bottom: 1rem;

  div {
    background: #ffe4cc;
    background: linear-gradient(
      166deg,
      rgba(255, 228, 204, 1) 0%,
      rgba(255, 250, 240, 1) 100%
    );
    border: 0.15rem solid $colorAzul;
    border-radius: 0.6rem;
    margin: 0.5rem;
    padding: 1rem;
  }

  h4 {
    @include fontSizeColorPadding(1.1rem, $colorAzul, 0);
  }

  ul {
    list-style: none;
  }

  li {
    color: #b3660e;
  }
}
